<footer>

    <div class="footer">

        <div class="image-footer">

            <img src="{{ asset('img/LOGO6-footer.webp') }}" alt="Image au centre de la page, c'est un cadre de miroir avec le nom du site Douceur de lune au milieu et décoré de fleurs et étoiles">
            <div class="footer-text">

                <div class="text-center">
                    <p> 
                    Je me déplace pour les consultations à domicile: <br> <br>
                    - Dans un rayon entre <span class="span-color">1</span> et <span class="span-color">10 km</span>  autour de Prades-le-Lez : <span class="span-color">5€</span> <br>
                    - Dans un rayon entre <span class="span-color">10</span> et <span class="span-color">20 km</span> autour de Prades-le-Lez : <span class="span-color">10€</span> <br>
                    (sur place, le jour de la consultations.)
                    </p>
                </div>

                <div class="text-right" data-aos="fade-left" data-aos-duration="2000">
                    <p><span>CONTACT</span></p> <br>
                        06 06 06 06 06 <br>
                        {# <img class="phone" src="{{ asset('img/Telephone2.png') }}" alt="numéro de téléphone : 06 06 06 06 06"> #}
                        <a href="mailto:douceurdelune@gmail.com?subject=Ici votre sujet !&body=Ici votre contenu :">mail@douceurdelune.com</a><br>
                    <br>
                    <div><a href="/mentionsLegales">Mentions légales</a></div> 
                    <div><a href="/politiqueDeConf">Politique de confidentialité</a></div> <br>
                </div>
                
                <div class="text-left" data-aos="fade-right" data-aos-duration="2000">
                    <p> <span>LIEU</span><br><br>
                        ADRESSE: <br>                              
                        CODE POSTAL: <br><br>                             
                        Photos : Moi, Pexels, Freepik<br>
                        Retouches : Midjourney, PhotoShop <br>
                    </p>  

                </div>   

            </div>

        </div>

    </div>

</footer>