{% extends 'base.html.twig' %}

{% block title %}Douceur de lune{% endblock %}

{% block body_class %}page-color-home2{% endblock %}

{% block body %}

{% block bandeau %}
<div class="bandeau-info bis"></div>
{% endblock %}

{% block content %}

<section class="main-section-video-text">
    
        <section id="section-video" class="">
                    <div class="video-grossesse">
                        <video src="../img/grossesse.mp4" autoplay loop></video>
                    </div>
        </section>

        <section id="section-text" class="">
            <div class="">
                <h2 class="section-text-h2">
                    Bienvenue au cours d'allaitement : Un voyage d'amour et de nutrition<br><br>
                </h2>
                <p class="section-text">
                    L'allaitement est l'une des étapes les plus naturelles et pourtant les plus mystérieuses de la maternité. Que vous soyez sur le point d'accueillir votre petit trésor &#x1F491; ou que vous ayez récemment donné naissance, il est essentiel de bien se renseigner sur cette merveilleuse aventure.
                    <br><br>
                    {# Pourquoi est-ce si important ? Parce que l'allaitement est bien plus qu'une simple alimentation. C'est un lien unique entre la mère et son bébé, une source inestimable de nutrition et de réconfort pour votre nouveau-né. Chaque goutte de lait maternel est comme une potion magique, conçue spécialement pour répondre aux besoins de votre bébé.
                    <br><br>
                    Cependant, comme toute aventure, l'allaitement peut venir avec son lot de questions et d'incertitudes. Comment savoir si mon bébé a assez mangé ? Quelle est la meilleure position pour allaiter ? Que faire si j'éprouve des douleurs ? C'est là que ce cours intervient. Je suis ici pour vous guider, vous rassurer et vous fournir toutes les informations dont vous avez besoin. #}
                    <br><br>
                    Alors, chères mamans, que vous soyez enceinte ou que vous ayez accouché récemment, je vous invite à me joindre. Laissez-moi vous accompagner dans ce voyage d'amour, de découverte et de bien-être. Car après tout, l'allaitement est un acte d'amour, et chaque mère mérite de vivre cette expérience de la manière la plus épanouissante possible. soit un papa ou une maman, ou qu’il s’agisse d’une adoption, les liens se tissent en dehors du giron maternel, dans l’attente, dans l’imaginaire, dans l’espoir et dans l’amour.
                </p>
            </div>
        </section>

</section>

{% endblock %}

{% block bandeauPresentation %}

    <div class="bandeau-info-presentation">

        <div class="carte-presentation">
            <div class="image-parcours-container-card">
                <img src="{{ asset('img/laeti-about.61602ddb.webp') }}" alt="Photo de l'infirmière qui s'occupe des cours chez Douceur de lune">
            </div>
            <div class="text-presentation-container">
                <div class="text-presentation">
                    <h2 class="text-presentation-title">By</h2>
                    <p>
                       <span>Laetitia KEZIC</span>  <br><br>
                    <p class"diplome">
                        Infirmière diplômée d'Etat - Monitrice de portage avec <span>TELP</span><br><br>
                    </p>
                        Bonjour et bienvenue à tous les parents & futurs parents, 
                    <br><br>
                        Je suis ravie de vous accueillir sur le site <span>"Douceur de lune"</span>. Moi-même maman comblée, j'ai eu à cœur d'accompagner les parents dans cette fabuleuse aventure qu'est la parentalité en proposant des ateliers allaitement, portage physiologique & yoga.[…] </div>
                    </p>
                   
                </div>
               
            </div>
            <a class="details-link2" href="{{ path('monParcours') }}">
                <button class="buttonMore">
                Me découvrir
                    <div class="arrow-wrapper">
                        <div class="arrow"></div>
                    </div>
                </button>
            </a>
        </div>

    </div>

{% endblock %}

{% block bandeauBonCadeau %}
    <div class="bandeau-info-cadeau cadeau">
        <div class="carte-cadeau">
            <h3> Le bon cadeau </h3>
            <h2> A offrir !</h2>
            <p >Vous souhaitez offrir une consultation d'allaitement, un atelier portage 
             en écharpe pour bébé ou une séance de bien être Rebozo à l'un de vos proches.
            </p> 
             <p>Vous êtes au bon endroit, il vous 
             suffit de cliquer et de m'envoyer un petit message ou de me téléphoner 
             pour que l'on puisse prendre contact, puis je vous envoie par courrier 
             votre bon cadeau. A très bientôt !
            </p> 
        </div>
         <a class="details-link2" href="{{ path('monParcours') }}">
                <button class="buttonMore button-more-margin">
                Me découvrir
                    <div class="arrow-wrapper">
                        <div class="arrow"></div>
                    </div>
                </button>
            </a>
    </div>
{% endblock %}

{% block bandeauRemerciement %}
<div class="bandeau-info-remerciements">
    <h2 class="centered-heading">Merci pour vos remerciements</h2>
    <div class="carousel">

        <div class="carousel-item ">
            <h3>Caroline</h3>
            <h2>Maman dans 1 mois</h2>
            <p>Merci pour ce moment de douceur. Merci également d'avoir pris le temps de m'écouter. ta visite m'a fait beaucoup de bien. Je te recontacte après l'accouchement et peut être même avant si j'en ressens le besoin.</p>
        </div>
        <div class="carousel-item ">
            <h3>Julie</h3>
            <h2>Maman de 1 mois</h2>
            <p>Je voulais te remercier pour ce joli moment. Tu as été très douce et attentionnée. C'était très agréable.</p>
        </div>
        <div class="carousel-item ">
            <h3>Clarisse</h3>
            <h2>Maman dans 2 semaines</h2>
            <p>Merci encore pour ta venue lors de ma grossesse, qui, j'en suis persuadée, a contribué à mettre beaucoup de douceur dans ma fin de grossesse et mon accouchement.</p>
        </div>
        <div class="carousel-item ">
            <h3>Amélie</h3>
            <h2>Maman de 2 mois</h2>
            <p>Encore merci pour tout, tu as été d'une douceur en gentillesse incroyable, ca m'a beaucoup aidée.</p>
        </div>
        <div class="carousel-item ">
            <h3>Lea</h3>
            <h2>Maman dans 3 semaines</h2>
            <p>Je recommande à toute les futures mamans, compétente, douce, pédagogue, rassurante ! Merci <3</p>
        </div>
        
    </div>
</div>
{% endblock %}

{% endblock %}
