<h1>Bonjour ! Veuillez verifiez votre e-mail</h1>

<p>
Veuillez vérifier votre adresse mail en cliquant sur le lien suivant :<br><br>
<a href="{{ signedUrl|raw }}">Je confirme mon email</a>.
Ce lien va expirer dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
Merci !
</p>
