/* ************* MEDIA QUERIES ****************** */

@media (max-width: 1450px) {

    .main-section-video-text {
        display: flex;
        flex-direction: column;
    }

    #section-video, #section-text {
        width: 100%;
       
    }

    #section-video .video-grossesse video {
        width: 100%;
        margin-left: 0;
    }

    #section-video {
        max-width: 1200px;

        align-self: center;
        
    }

    .section-text-h2 {
        text-align: center;
    }

    .navbar-container li a {
        font-size: 1.4rem;
      }
    

}

@media (max-width: 1400px) {

.img-dim {
width: 230px;
height: 230px;
}

.enfant-home h2 {
font-size: 25px;
}

.navbar-logo {
margin-top: 15px;
}

.navbar-container li a {
  font-size: 1.2rem;
}

}

@media (max-width: 1330px) {

.buttonBack{
width: 90px;
height: 2.8em;
}

.logo-site {
width: 50px;
height: 50px;
}

.navbar-menu .icon-dropdown {
display: flex;
}

.align {
padding-top: 5px;
}   

.navbar-logo {
font-size: 2rem;
margin-top: 15px;
}

.navbar-register {
min-width: 240px;
}

.navbar-container li a {
font-size: 1.2rem;
}


}

@media (max-width: 1170px) {

.buttonBack{
width: 80px;
height: 2.6em;
}

.container-mt-p {
width: 70%;
}

.container-mt-p h1{
font-size: 1.9rem;
}

.enfant-home h2 {
font-size: 20px;
}

.enfant-home p {
font-size: 0.9rem;
}

.img-dim {
width: 210px;
height: 210px;
}

.container1, .container2 {
flex-direction: column;
}
.enfant {
width: 100%;
margin-bottom: 10px;
}

.navbar-menu,
.navbar-login {
display: none;
margin-left: 2vw;
margin-top: 20vw;
}

.navbar-logo {
margin-top: 15px;
}

.centered-heading {
font-size: 3rem;
}

.carousel-item h2 {
margin-bottom: 35px;
font-size: 1.3rem;
}

.carousel-item h3 {
margin-bottom: 15px;
font-size: 1.5rem;
}

.carousel-item p {
margin-bottom: 35px;
font-size: 1rem;
}

.navbar-toggle {
display: flex;
position: absolute;
right: 45px;
top: 30px;
}

.navbar-register {
display: none;
}

.text-container-bis {
margin-top: 45px;
}

/* ******************* */

.arrow-down {
    height: 20px;
  width: auto;
  vertical-align: middle;
  /* margin-right: 5px; */
  position: absolute;
  right: 0;
  rotate: 45;
  transform: rotate(-90deg);
}

.navbar-menu {
    position: absolute;
    left: -100%;
    width: 100%;
    transition: left 0.3s ease-in-out;
    }
    
    .navbar-menu.active {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        width: 100vw;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 99;
        justify-content: left;
        align-items: start;
        margin-top: 17px;
    }
    
    .navbar-container {
    flex-direction: column;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(6px); 
    -webkit-backdrop-filter: blur(6px); 
    }

.dropdown-menu {
    background-color: transparent;
}

.navbar-menu li a {
    /* width: 150px; */
    display: block;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 600;
    margin: 0 auto;
}

.navbar-menu li {  
    padding: 0px 0px;
    width: 200px;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(6px);
    display: flex;
    margin-left: -24px; 
}

.dropdown {
    padding: 23px 0px;
    background: rgba(255, 255, 255, 0.8);
    /* backdrop-filter: blur(0px); */
    display: block;
    margin-top: 50px;
}

.dropdown-menu {
    min-width: 160px;
    z-index: 1;
    margin-top: -4px;
    left: 228px;
  }

.dropdown-menu li a {
padding: 30px 0px;
text-decoration: none;
display: block;
}

.padding-dropdown {
    padding: 30px 0;
}

}

@media (max-width: 970px) {

.enfant-home p {
font-size: 0.8rem;
font-weight: 500;
}

.edit-svgIcon {
width: 30px;
height: 30px;
}

.edit-button:hover {
width: 110px;
}

.centered-heading {
font-size: 2.5rem;
}

.img-dim {
width: 190px;
height: 190px;
margin: 0 25px;
}

.enfant-home h2 {
font-size: 18px;
}

.navbar-menu,
.navbar-login {
display: none;
margin-left: 2vw;
margin-top: 20vw;
}

.carousel-item h3 {
margin-bottom: 15px;
font-size: 1.3rem;
}

.carousel-item h2 {
margin-bottom: 35px;
font-size: 1.2rem;
}

.carousel-item p {
margin-bottom: 35px;
font-size: 1rem;
}

.arrow-down {
    height: 20px;
  width: auto;
  vertical-align: middle;
  /* margin-right: 5px; */
  position: absolute;
  right: 0;
  rotate: 45;
  transform: rotate(-90deg);
}

.navbar-menu {
    position: absolute;
    left: -100%;
    width: 100%;
    transition: left 0.3s ease-in-out;
    }
    
    .navbar-menu.active {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        width: 100vw;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 99;
        justify-content: left;
        align-items: start;
        margin-top: 17px;
    }
    
    .navbar-container {
    flex-direction: column;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(6px); 
    -webkit-backdrop-filter: blur(6px); 
    }

.dropdown-menu {
    background-color: transparent;
}

.navbar-menu li a {
    /* width: 150px; */
    display: block;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 600;
    margin: 0 auto;
}

.navbar-menu li {  
    padding: 0px 0px;
    width: 200px;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(6px);
    display: flex;
    margin-left: -24px; 
}

.dropdown {
    padding: 23px 0px;
    background: rgba(255, 255, 255, 0.8);
    /* backdrop-filter: blur(0px); */
    display: block;
    margin-top: 50px;
}

.dropdown-menu {
    min-width: 160px;
    z-index: 1;
    margin-top: -4px;
    left: 228px;
  }

.dropdown-menu li a {
padding: 30px 0px;
text-decoration: none;
display: block;
}

.padding-dropdown {
    padding: 30px 0;
}

}

@media (max-width: 880px) {

.container-mt-p {
    width: 75%;
    margin: 2vw auto;
    text-align: center;
}

.margin-tb p{
    font-size: 1.3rem;
}

.text-presentation {
    font-size: 1.1rem;
}

/* ********************** */

.arrow-down {
    height: 20px;
  width: auto;
  vertical-align: middle;
  /* margin-right: 5px; */
  position: absolute;
  right: 0;
  rotate: 45;
  transform: rotate(-90deg);
}

.navbar-menu {
    position: absolute;
    left: -100%;
    width: 100%;
    transition: left 0.3s ease-in-out;
    }
    
    .navbar-menu.active {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        width: 100vw;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 99;
        justify-content: left;
        align-items: start;
        margin-top: 17px;
    }
    
    .navbar-container {
    flex-direction: column;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(6px); 
    -webkit-backdrop-filter: blur(6px); 
    }

.dropdown-menu {
    background-color: transparent;
}

.navbar-menu li a {
    /* width: 150px; */
    display: block;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
    margin: 0 auto;
}

.navbar-menu li {  
    padding: 0px 0px;
    width: 200px;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(6px);
    display: flex;
    margin-left: -24px; 
}

.dropdown {
    padding: 23px 0px;
    background: rgba(255, 255, 255, 0.8);
    /* backdrop-filter: blur(0px); */
    display: block;
    margin-top: 50px;
}

.dropdown-menu {
    min-width: 160px;
    width: 294px;
    z-index: 1;
    margin-top: -4px;
    left: 228px;
    /* backdrop-filter: blur(0px); */
  }

.dropdown-menu li a {
padding: 30px 0px;
text-decoration: none;
display: block;
}

.padding-dropdown {
    padding: 30px 0;
}

} 

@media (max-width: 768px) {
    .main-section-video-text, .main-section-video-text2 {
        flex-direction: column;
    }

    #section-video, #section-text {
        width: 100%;
        height: auto; 
        margin-left: 0;
        margin-right: 0;
    }


    #section-video .video-grossesse video, #section-video .video-allaitement video {
        width: 100%;
        height: auto;
    }

    #section-text p {
        font-size: 1rem; 
        line-height: 1.4; 
        padding: 15px 15px; 
    }

    #section-text h2 {
        font-size: 1.5rem; 
        line-height: 1.4; 
        padding: 15px 15px; 
    }


}

@media (max-width: 760px) {

.container-parcours {
    flex-direction: column;
}

.image-parcours-container{
    margin-bottom: 20px;
    display: flex;
    flex-direction: center;
    justify-content: center;
}

.image-parcours-container img{
    min-width: 80%;
}

.edit-svgIcon {
    width: 25px;
    height: 25px;
    }

.edit-button:hover {
    width: 110px;
}

.container-mt-p {
    width: 88%;
}

.margin-tb p{
font-size: 1.2rem;
}

.carousel-item h3 {
margin-bottom: 15px;
font-size: 1.2rem;
}

.carousel-item h2 {
margin-bottom: 35px;
font-size: 1rem;
}

.carousel-item p {
margin-bottom: 35px;
font-size: 0.8rem;
}

.image-responsive {
width: 100%;
height: 100%;
object-fit: cover;
object-position: center;
margin-bottom: 20px;
}

.carousel-item h3{
font-size: 1.3rem;
}

.carousel-item h2{
font-size: 1.1rem;
}

.carousel-item p{
font-size: 0.9rem;
}

.centered-heading {
font-size: 2.5rem;
}

.carte-presentation {
    display: flex;
    flex-direction: column;
}

.image-parcours-container-card {

    margin-top: 40px;
}

.text-presentation-container {
    margin-top: 0;
}

}

@media (max-width: 600px) {

        
.first-password {
    font-size: 0.9rem;
    margin-left: -15px;
}
        
.second-password {
    font-size: 0.9rem;
}

.bt2 {
    font-size: 0.9rem;
}

.edit-button:hover {
width: 105px;
}

.margin-tb p{
font-size: 1.1rem;
}

.container-mt-p {
width: 95%;
margin: 2vw auto;
text-align: center;
}

.container-mt-p h1{
font-size: 1.8rem;
}

.footer-text {
top: 75%;
}

.text-center {
color: var(--secondary-color);
font-size: 1.1rem;
font-weight: 500;
position: static;
transform: none;
margin: 0px auto 680px auto; 
width: 100%;
text-align: center;
}

.text-left {
left: 2vh;
top: 5vh;
font-size: 0.8rem;
}

.text-right {
right: 2vh;
top: 5vh;
font-size: 0.8rem;
}

.form-container {
margin-top: 20vw;
}

.navbar-logo a, .navbar-logo img{
margin-bottom: 20px;
}

/* ******** */

.bandeau-info-remerciements {
height: 360px;
width: 100%;
background-color: #e5d1da;
overflow: hidden;
padding: 20px 0;
display: flex;
flex-direction: column;
align-items: center;

}

.carousel {
display: flex;
justify-content: space-around;
width: 96%;

}

.carousel-item {
display: none;
width: 30%;
text-align: center;
font-family: 'Barlow', sans-serif;
margin: 0 5px;
}

.carousel-item h3{
margin-bottom: 10px;
font-size: 1.2rem;
font-weight: 600;
}

.carousel-item h2{
margin-bottom: 35px;
font-size: 1.1rem;
font-weight: 400;
}

.carousel-item p{
font-size: 0.9rem;
color: var(--title-color);
font-weight: 400;
text-align: center;
}

.centered-heading {
text-align: center;
margin-top: 20px;
font-family: 'Knewave', cursive;
font-size: 2rem;
margin-bottom: 50px;
color: #90639c;
}

#section-text p{
    font-size: 0.9rem; 
    line-height: 1.4; 
    padding: 15px 15px; 
}

#section-text h2 {
    font-size: 1.4rem; 
    line-height: 1.4; 
    padding: 15px 15px; 
}

.carte-cadeau {
    width: 400px;
    height: 450px;
}

.carte-cadeau p {
    font-size: 1rem;
}

}

@media (max-width: 500px) {

.buttonBack {
left: -35px;
width: 75px;
}

.edit-button:hover {
width: 100px;
}

.container-mt-p {
width: 100%;
}

.container-mt-p h1{
font-size: 1.7rem;
}

.margin-tb p{
font-size: 1rem;
}

.navbar-logo {
font-size: 2.2rem;
}

.carousel-item h3 {
margin-bottom: 15px;
font-size: 1.1rem;
}

.carousel-item h2 {
margin-bottom: 35px;
font-size: 0.9rem;
}

.carousel-item p {
margin-bottom: 35px;
font-size: 0.7rem;
}

.centered-heading {
font-size: 1.8rem;
}

.carousel-item p{
font-size: 0.8rem;
}

.bandeau-info-remerciements {
height: 350px;
}

}

@media (max-width: 480px) {
    #section-text p, #section-text h2 {
        font-size: 0.8rem;
    }
}

@media (max-width: 400px) {

.edit-button:hover {
width: 85px;
}

.container-mt-p {
width: 100%;
}

.margin-tb p{
font-size: 1rem;
}

}

@media (max-width: 375px) {
.navbar-logo{
font-size: 1.8rem;
}
}

/* ***********  MIN  *************** */

@media (min-width: 970px) {

    /* .align.padding-dropdown:hover ~ .dropdown-menu.dropdown-list {
        display: block;
    } */

    .mobile-link {
        display: none;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        
        } 
}
   