/* Reset CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
/* background-color: white !important; */
}
ol, ul, li, a {
list-style: none;
text-decoration: none;
color: inherit;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}

/* ************************** COLORS *************************** */
:root {
--primary-color: #1a8fe3;
--secondary-color: #1b1b1b;
--tertiary-color: #f5f5f5;
--text-color: #333;
--title-color: #4a4a4a;
--navbar-color: rgba(255, 255, 255, 0.3);
--doree-color: #AB873D;
--red-color: #e83b3b;
--green-color: #4fcf57;
--darkPink-color: rgb(243, 160, 144);
--midPink-color: #f6cec8;
--lightPink-color: rgb(255, 242, 239); 
}

.navbar-container li a.red {
color: var(--red-color);
}

.navbar-container li a.green {
color: var(--green-color);
}

.blue {
color: #65c8dc;
}

.purple {
color: #e4b1e8;
}

.orange {
color: #F0A868;
}

.red {
background-color: var(--red-color);
box-shadow: 2px 2px 10px rgba(112, 23, 23, 0.788);
}

.green {
background-color: var(--green-color);
box-shadow: 2px 2px 10px rgba(51, 112, 23, 0.788);
}

.pastel-purple1 {
background-color: #e4b1e8;
}

.pastel-purple2 {
background-color: #e6ccf1;
} 

.pastel-purple3 {
background-color: #f6e7f9;
}

.pastel-blue1 {
background-color: #65c8dc;
}

.pastel-blue2 {
background-color: #90e0ef;
}   

.pastel-blue3 {
background-color: #c4f0f8;
}

.pastel-orange1 {
background-color: #F0A868;
}

.pastel-orange2 {
background-color: #f1caa8;
}

.pastel-orange3 {
background-color: #FFE8C2;
}

.pastel-red1 {
background-color: #f47e6f;
}

.pastel-red2 {
background-color: #f0998d;
}

.pastel-red3 {
background-color: #f6cec8;
}

body.page-color-home {
background-color: var(--lightPink-color);
}

body.page-color-allaitement{
background-color: var(--lightPink-color);
}

body.page-color-portage{
background-color: #f0fdff;
}

body.page-color-rebozo{
background-color: #fff6e8;
}

body.page-color-cercle{
background-color: #ffecea;
}

body.page-color{
background: var(--lightPink-color);
}

span { 
font-weight: bold;
color: var(--secondary-color); 
}

.span-portage{ 
font-weight: bold;
color: #29565f;
}

.span-allaitement{ 
font-weight: bold;
color: #86428b;
}

.span-rebozo{ 
font-weight: bold;
color: #c38e3a;
}

.span-cercle{ 
font-weight: bold;
color: #a33131;
}

.enfant-portage {
color: #29565f;
}

.enfant-allaitement {
color: #86428b;
}

.enfant-rebozo {
color: #c27b2a;
}

.enfant-cercle {
color: #892424;
}

/* ************************* ERREURS *************************** */
.custom-alert {
position: fixed;
left: 12%;
border-radius: 4px;
color: #ffffff;
opacity: 0.9;
transition: opacity 0.6s; 
width: auto;
margin: 100px auto 0 auto;
z-index: 1000;
font-size: 1.2vw;
font-family: 'Barlow', sans-serif;
}

.password-error {
color: var(--red-color);
margin-bottom: 20px;
font-weight: bold;
font-family: 'Barlow', sans-serif;
}

.email-error {
color: var(--red-color);
margin-bottom: 20px;
font-weight: bold;
font-family: 'Barlow', sans-serif;
}

.custom-alert-success {
color: #2fc934; 
font-family: 'Knewave', cursive;
}

.custom-alert.fade-out {
opacity: 0;
}

/* ********** IMAGE BACKGROUND PAGE PERSO ANIMATION ************* */
.background-animation {
top: -0.6vw;
left: 0;
height: 100vh;
overflow: hidden;
z-index: -2;
}

body {
overflow-x: hidden;
}

.full-screen {
position: relative;
overflow: hidden;
width: 100%;
height: 100vh;
z-index: 1;
}

.bg-image {
position: absolute;
top: 0;
bottom: 0;
width: 200%;  
height: 100%;
background: url('../img/background.webp') repeat-x;
background-size: cover;  
animation: slide 80s linear infinite;  
/* filter: saturate(140%) contrast(100%) hue-rotate(10deg); */
}   

.main-title {
position: absolute;
top: 50%;
left: 45%;
}

.img-dim {
width: 300px;
height: 300px;
}

.overlay {  
position: relative;
width: 100%;
height: 100%;
z-index: 2;
}   

.text-container {
text-align: center;
position: absolute;
top: 650px;
bottom: 0;
left: 0;
right: 0;
}

.text-container-bis {
text-align: center;
position: absolute;
top: 1vw;
bottom: 0;
left: 0;
right: 0;
z-index: 1;
}

.text-container p {
font-family: 'Barlow', sans-serif;
color: var(--doree-color);
font-size: 3rem;
font-weight: 200;
letter-spacing: -0.054em;
}

.text-container img {
width: 1rem;
height: 3rem;
}

.image-container {
text-align: center;
margin-top: 3vw;
position: relative;
}

.center-image {
position: absolute;
left: 50%;
margin-top: 350px;
transform: translate(-50%, -50%);
display: inline-block;
}

.center-image {
font-family: 'Barlow', sans-serif;
}

/* *************************** NAVBAR ********************************** */
.navbar {
position: fixed;
top: 0;
width: 100vw;
z-index: 100;
background: rgba(255, 255, 255, 0.3);
backdrop-filter: blur(5px); 
-webkit-backdrop-filter: blur(5px); 
}

.navbar-color {
/* background: rgb(255,196,184); */
/* background: linear-gradient(90deg, rgba(255,196,184,0.9933705904236695) 0%, rgba(162,185,255,0.5) 100%); */
/* background: rgba(255, 255, 255, 0.3); */
background: rgba(255, 255, 255, 0.3);
backdrop-filter: blur(5px); 
-webkit-backdrop-filter: blur(5px); 
}

.navbar-container {
display: flex;
justify-content: space-between;
align-items: center;
height: 70px;
padding: 0 20px;
font-family: 'Barlow', sans-serif;
}

.navbar-logo {
font-family: 'La Belle Aurore', cursive;
text-decoration: none;
color: var(--title-color);
font-size: 2.5rem;
margin-top: 15px;
min-width: 257px;
display: flex;
align-items: center;
}

.navbar-login a{
text-decoration: none;
}

.navbar-menu {
display: flex;
justify-content: center;
align-items: center;
list-style: none;
min-width: 566px;
}

.navbar-register {
display: inline-block;
align-items: center;
min-width: 292px;
}

.navbar-register ul{
display: flex;
align-items: center;
}

.navbar-register a{
color: var(--text-color);
}

.navbar-register i{
margin-right: 5px;
}

.register-ml {
margin-left: 20px;
}

.register-ml a{
display: flex;
align-content: center;
align-items: center;
}

.navbar-menu li {
margin-right: 2vw;
color: var(--text-color);
}

.navbar-container li a {
text-decoration: none;
font-family: 'Barlow', sans-serif;
font-size: 1.3rem;
font-weight: 500;
}

.navbar-toggle {
display: none;
flex-direction: column;
cursor: pointer;
}

.navbar-toggle span {
width: 30px;
height: 3px;
background-color: var(--text-color);
margin-bottom: 5px;
}

.navbar-toggle.active span:nth-child(1) {
transform: rotate(45deg) translate(5px, 5px);
}

.navbar-toggle.active span:nth-child(2) {
opacity: 0;
}

.navbar-toggle.active span:nth-child(3) {
transform: rotate(-45deg) translate(5px, -5px);
}

.navbar-menu.active {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
background-color: transparent;
width: 100vw;
position: fixed;
top: 0;
left: 0;
z-index: 99;
}

.pointer {
cursor: pointer;
}

.profil a:hover i, .register-ml a:hover i {
animation: spin 1s linear infinite;
}

/* ************** DROPDOWN ****************** */
.dropdown {
position: relative;
display: inline-block;
}

.dropdown-menu {
display: none;
position: absolute;
background-color: transparent;
-webkit-backdrop-filter: blur(12px);
backdrop-filter: blur(12px);
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
margin-top: 0;
left: -70px;
border-radius: 5px;
}

.dropdown-menu li {
margin-left: 2vw;
margin-top: 0.5vw;

}

.dropdown-menu li a {
padding: 15px 12px 12px 38px;
text-decoration: none;
display: block;
}

.dropdown:hover .dropdown-menu {
display: block;
}

/* ************** BANDEAU ****************** */
.bandeau {
height: 400px;
width: 100%;
background-color: #f18787;
margin-top: 70px;
}

.bandeau2 {
height: 400px;
width: 100%;
background-color: #f18787; 
}

.bandeau-info {
height: 300px;
width: 100%;
background-image: url('../img/f76197_19da170fd28646b197f0c6fa3612fb81~mv2.webp');
margin-bottom: 20px;
background-size: cover;
background-attachment: fixed;
overflow: hidden;
background-position: bottom;
position: relative;
display: flex;
justify-content: center;
align-items: center;
}

.bandeau-info.bis {
margin-top: 0;
}

/* ************** CAROUSEL ****************** */
.bandeau-info-remerciements {
height: 400px;
width: 100%;
background-color: #e5d1da;
overflow: hidden;
padding: 20px 0;
display: flex;
flex-direction: column;
align-items: center;
}

.centered-heading {
text-align: center;
margin-top: 20px;
font-family: 'Knewave', cursive;
font-size: 3.5rem;
margin-bottom: 50px;
color: #90639c;
}

.carousel {
display: flex;
justify-content: space-around;
width: 80%;
margin-top: 10px;
}

.carousel-item {
display: none;
width: 30%;
text-align: center;
font-family: 'Barlow', sans-serif;
}

.carousel-item h3{
margin-bottom: 10px;
font-size: 1.6rem;
font-weight: 600;
}

.carousel-item h2{
margin-bottom: 50px;
font-size: 1.4rem;
font-weight: 400;
}

.carousel-item p{
font-size: 1.1rem;
color: var(--title-color);
font-weight: 400;
}

.carousel-item.active {
display: block;
}

.carousel-item.first {
color: #859dc3; 
}

.carousel-item.second {
color: #4682b4; 
}

.carousel-item.third {
color: #6d9aa3; 
}

.bandeau-info.cadeau {
margin-bottom: 0;
}

.bandeau-portage {
height: 400px;
width: 100%;
background-image: url('../img/mignon-petit-enfant-dans-parc-ete.jpg');
margin-top: 70px;
background-size: cover;
background-attachment: fixed;
overflow: hidden;
background-position: center 85%;
}

.bandeau-allaitement {
height: 400px;
width: 100%;
background-image: url('../img/mignon-petit-bebe-interieur(1).jpg');
filter: hue-rotate(350deg) saturate(0.7);
margin-top: 70px;
padding-left: 20px;
background-size: cover;
background-attachment: fixed;
overflow: hidden;
background-position: center;
}

.bandeau-rituel {
height: 400px;
width: 100%;
background-image: url('../img/soin-rebozo-annecy-2.jpg');
filter: hue-rotate(8deg) saturate(1.2);
margin-top: 70px;
background-size: cover;
background-attachment: fixed;
overflow: hidden;
background-position: bottom;
}

.bandeau-cercle {
height: 400px;
width: 100%;
background-image: url('../img/petite-fille-veste-rouge-regarde-ses-poings.jpg');
margin-top: 70px;
background-size: cover;
background-attachment: fixed;
overflow: hidden;
background-position: center 40%;
}

/* ************** PAGES INFOS ****************** */
.container-margin {
width: 90vw;
margin: 0 auto;
}

.container-showCours {
display: flex;
flex-wrap: wrap;
justify-content: space-around;
margin-bottom: 20px;
margin-top: 10px;
}

.container1 {
width: 80%;
margin: 5vw auto 0 auto; 
display: flex;
justify-content: space-between; 
}

.container2 {
width: 80%;
margin: 2vw auto 5vw auto; 
display: flex;
justify-content: space-between; 
}

.enfant-cours {
flex: 1 0 30%; 
margin: 1rem;
display: flex;
flex-direction: column;
align-items: center;
background-color: var(--midPink-color);
text-align: justify;
}

.enfant-cours a{
margin: 15px 0;
}

.enfant-cours h2 {
color: var(--darkPink-color);
text-align: center;
margin-bottom: 20px;
}

.enfant {
width: 48%; 
margin: 10px 10px 0 0;
overflow-wrap: break-word;
}

.enfant-cours .price2{
font-weight: 400;
font-size: 1.4rem;
font-family: 'Knewave', cursive;
color: var(--darkPink-color);
margin-bottom: 10px;
}

.enfant p, .enfant ul {
padding: 2.5vh 2vw 0 2vw;
font-family: 'Barlow', sans-serif;
color: var(--text-color);
font-weight: 400;
font-size: 18px;
line-height: 22px;
}

.enfant h2 {
font-size: 30px;
line-height: 30px;
font-family: 'Knewave', cursive;
padding: 2.5vh 2vw 0 2vw;
}

.image-responsive {
width: 100%;
height: 100%;
object-fit: cover;
object-position: center;
}

/* ****************** FORM STYLES LOGIN/SUB ***************** */

/* LOGIN */
.form-label {
font-weight: bold;
margin: 10px 0 10px 0;
color: var(--darkPink-color);
font-family: 'Barlow', sans-serif;
font-size: 1.5rem;
}

.terms {
font-size: 1.2rem;
font-family: 'Barlow', sans-serif;
}

.form-container {
width: 40%;
margin: 50px auto;
background-color: transparent;
padding: 20px;
border-radius: 5px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: 50vh;
z-index: 1;
}

.form-container h1{
margin: 0 auto;

}

.form-title {
text-align: center;
padding-bottom: 30px;
color: rgb(236, 151, 132);
font-family: 'Barlow', sans-serif;
font-size: 2rem;
font-weight: bold;
text-transform: uppercase;
}

.register-form {
position: absolute;
display: flex;
flex-direction: column;
width: 350px;
z-index: 99;
}

.form-input,
.form-checkbox {
margin-bottom: 10px;
padding: 10px;
border: 1px solid #ccc;
border-radius: 5px;
}

.form-button {
cursor: pointer;
background-color: rgb(250, 174, 157);
color: var(--tertiary-color);
border: none;
border-radius: 5px;
padding: 10px;
margin-top: 5px;
transition: background-color 0.3s ease;
font-size: 1.2rem;
font-weight: 600;
font-family: 'Barlow', sans-serif;
}

.form-button:hover {
background-color: #444;
}

/* ****************** Parcours ****************** */
.container-parcours {
display: flex;
justify-content: space-between;
width: 80%;
margin: 80px auto;
}

.image-parcours-container img {
min-width: 100%;
height: auto;
margin-right: 20px;
}

.text-parcours-container h1{
font-family: 'Knewave', cursive;
font-size: 3rem;
color: rgb(255,196,184);
padding: 0 20px 20px 20px;
}

.text-parcours-container {
flex-grow: 1;
}

.text-parcours-container p {
margin-bottom: 20px;
font-size: 1.4rem;
padding: 10px 20px;
font-family: 'Barlow', sans-serif;
color: #333;
}

.text-parcours-container ul {
margin: 0;
padding: 0;
list-style: none;
padding: 10px 10px;
font-size: 1.6rem;
}

.text-parcours-container li {
margin-bottom: 10px;
font-size: 1.2rem;
}

.fa-heart {
color: red;
}

.formation {
font-family: 'Barlow', sans-serif;
color: #333;
}

.formation li{
font-family: 'Barlow', sans-serif;
font-size: 1.4rem;
}

/* ****************** PROFIL ****************** */
.titre-section {
font-weight: bold;
text-transform: uppercase;
font-size: 2rem;
color: var(--darkPink-color);
margin-bottom: 80px;
}

.profil {
color: var(--title-color);
}

.delet-account {
color: var(--red-color);
}

.flex-wrapper {
margin: 20px 0;
}

.margin-tb.verified {
margin-top: 8px;
}

.margin-tb .titre-section{
font-size: 2rem;
}

.margin-tb p{
font-size: 1.5rem;
}

.text-reset-password {
margin-top: 30px;
}

/* ****************** FOOTER ***************** */
.footer {
height: 570px;
width: 100%;
background-image: url('../img/f76197_19da170fd28646b197f0c6fa3612fb81~mv2.webp');
background-repeat: no-repeat;
background-position: center;
overflow: hidden;
background-size: cover;
background-attachment: fixed;
}

.image-footer {
position: relative;
width: 100%;
height: 100%;
}

.image-footer img {
position: absolute;
top: 60%;
left: 50%;
transform: translate(-50%, -50%);
max-width: 100%;
}

.footer-text {
position: absolute;
top: 70%;
bottom: 35vh;
width: 100%;
display: flex;
justify-content: space-between;
align-items: center;
color: white; 
}

.text-center {
position: absolute;
bottom: 28vh;
transform: translateX(-45%);
left: 48.5%;
color: var(--secondary-color);
font-size: 1.2rem;
font-family: 'Barlow', sans-serif;
text-align: center;
font-weight: 500;
width: 650px;
}

.text-left {
position: absolute;
left: 3vh;
top: 5vh;
color: var(--secondary-color);
font-size: 1rem;
font-family: 'Barlow', sans-serif; 
}

.text-right {
position: absolute;
right: 3vh;
top: 5vh;
color: var(--secondary-color);
font-size: 1rem;
font-family: 'Barlow', sans-serif;
text-align: right;
}

.container-mt {
display: flex;
flex-direction: column;
margin: 80px auto;
width: 80%;
font-size: 22px;
font-family: 'Barlow', sans-serif;
color: var(--title-color);
}

.container-mt-p {
width: 50%;
margin: 2vw auto;
text-align: center;
font-size: 1.5rem;
font-weight: 500;
position: relative;
}

.container-mt-p h1{
font-size: 2rem;
color: var(--darkPink-color);
margin: 0 0 50px 0;
font-weight: bold;
}

.container-mt-p label{
margin-right: 5px;
}

.container-mt-p input{
padding: 5px 5px;
}

.change-profil {
margin: 30px 0;
}

.button-change-profil {
margin-top: 50px;
}

.logo-site {
width: 80px;
height: 70px;
margin-bottom: 5px;
}

/* ************* COURS HOME ****************** */
.container-margin-home {
width: 90vw;
margin: 0 auto 10px auto;
}

.container-showCours-home {
display: flex;
flex-wrap: wrap;
justify-content: space-around;
margin-bottom: 30px;
}

.enfant-cours {
flex: 1 0 30%; 
margin: 1rem;
display: flex;
flex-direction: column;
align-items: center;
text-align: justify;
}

.enfant-cours-home {
flex: 1 0 30%; 
margin: 1rem;
display: flex;
flex-direction: column;
align-items: center;
text-align: justify;
}

.enfant-home {
width: 48%; 
margin: 10px 10px 0 0;
overflow-wrap: break-word;
}

.enfant-home p {
padding: 2.5vh 2vw 0 2vw;
font-family: 'Barlow', sans-serif;
color: var(--text-color);
font-weight: 400;
font-size: 18px;
line-height: 22px;
margin-bottom: 20px;
margin-top: 10px;
}

.enfant-home h2 {
font-size: 30px;
line-height: 30px;
font-family: 'Knewave', cursive;
color: var(--darkPink-color);
margin: 20px 0;
text-align: center;
}

.image-responsive {
width: 100%;
height: 100%;
object-fit: cover;
object-position: center;
margin-bottom: 20px;
}

.image-responsive2 {
width: 100%;
height: 100%;
object-fit: cover;
object-position: center;
margin-top: 20px;

}

.enfant-home .price {
font-weight: 400;
font-size: 1.2rem;
font-family: 'Knewave', cursive;
color: var(--darkPink-color);
}

.enfant-home .details-link {
font-size: 1.2rem;
font-family: 'Barlow', sans-serif;
font-weight: 600;
margin-bottom: 20px;
}

/* ************* BUTONS ****************** */

.edit-button {
width: 40px;
height: 40px;
border-radius: 50%;
background-color: var(--darkPink-color);
border: none;
font-weight: 600;
display: flex;
align-items: center;
justify-content: center;
box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
cursor: pointer;
transition-duration: 0.3s;
overflow: hidden;
position: relative;
text-decoration: none;
}

.edit-svgIcon {
width: 17px;
transition-duration: 0.3s;
}

.edit-svgIcon path {
fill: white;
}

.edit-button:hover {
width: 110px;
border-radius: 50px;
transition-duration: 0.3s;
background-color: var(--red-color);
align-items: center;
}

.edit-button:hover .edit-svgIcon {
width: 20px;
transition-duration: 0.3s;
transform: translateY(70%);
-webkit-transform: rotate(360deg);
-moz-transform: rotate(360deg);
-o-transform: rotate(360deg);
-ms-transform: rotate(360deg);
transform: rotate(360deg);
}

.edit-button::before {
display: none;
content: "Modifier";
color: white;
transition-duration: 0.3s;
font-size: 2px;
}

.edit-button:hover::before {
display: block;
padding-right: 10px;
font-size: 13px;
opacity: 1;
transform: translateY(0px);
transition-duration: 0.3s;
}

.flex-wrapper {
display: flex;
align-items: center;
justify-content: space-between;
}

.edit-button-container {
margin-left: auto; 
}

/* ************* Button back profil ************* */

.buttonBack {
display: flex;
height: 3em;
width: 100px;
align-items: center;
justify-content: center;
background-color: var(--darkPink-color);
border-radius: 20px;
letter-spacing: 1px;
transition: all 0.2s linear;
cursor: pointer;
border: none;
background: var(--darkPink-color);
position: absolute;
top: -50px;
left: -20px;
}

.buttonBack > svg {
margin-right: 5px;
margin-left: 5px;
transition: all 0.4s ease-in;
}

.buttonBack:hover > svg {
font-size: 1rem;
margin-top: 2px;
transform: translateX(-5px);
}

.buttonBack:hover {
box-shadow: 9px 9px 33px #ffaeae, -9px -9px 33px #ffd5d5;
transform: translateY(-2px);
}

.buttonBack span {
font-family: 'Barlow', sans-serif;
font-size: 1rem;
font-weight: 500;
margin-bottom: 2px;
}

/* *************** BUTTON EN SAVOIR PLUS ************ */

.buttonMore {
--primary-color: #645bff;
--secondary-color: #fff;
--hover-color: #111;
--arrow-width: 10px;
--arrow-stroke: 2px;
box-sizing: border-box;
border: 0;
border-radius: 20px;
color: var(--lightPink-color);
padding: 1em 1.8em;
background: var(--darkPink-color);
display: flex;
transition: 0.2s background;
align-items: center;
gap: 0.6em;
font-weight: bold;
font-size: 1rem;
}

.buttonMore .arrow-wrapper {
display: flex;
justify-content: center;
align-items: center;
}

.buttonMore .arrow {
margin-top: 1px;
width: var(--arrow-width);
background: var(--darkPink-color);
height: var(--arrow-stroke);
position: relative;
transition: 0.2s;
}

.buttonMore .arrow::before {
content: "";
box-sizing: border-box;
position: absolute;
border: solid var(--lightPink-color);
border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
display: inline-block;
top: -3px;
right: 3px;
transition: 0.2s;
padding: 3px;
transform: rotate(-45deg);
}

.buttonMore:hover {
background-color: var(--darkPink-color);
cursor: pointer;
}

.buttonMore:hover .arrow {
background: var(--lightPink-color);
}

.buttonMore:hover .arrow:before {
right: 0;
}

/* ************ BUTTON LOGIN LOGOUT ************* */

.Btn {
display: flex;
align-items: center;
justify-content: flex-start;
width: 45px;
height: 45px;
border: none;
border-radius: 50%;
cursor: pointer;
position: relative;
overflow: hidden;
transition-duration: .3s;
/* background-color: var(--red-color); */
}

/* plus sign */
.sign {
width: 100%;
transition-duration: .3s;
display: flex;
align-items: center;
justify-content: center;
}

.sign svg {
width: 15px;
}

.sign svg path {
fill: white;
}
/* text */
.text {
position: absolute;
margin-left: 20px;
/* right: 5px; */
opacity: 0;
color: white;
font-size: 1em;
font-weight: 600;
transition-duration: .3s;
}
/* hover effect on button width */
.Btn:hover {
width: 150px;
border-radius: 40px;
transition-duration: .3s;
}

.Btn:hover .sign {
width: 25%;
transition-duration: .3s;
}

/* hover effect button's text */
.Btn:hover .text {
opacity: 1;
width: 70%;
transition-duration: .3s;
}
/* button click effect*/
.Btn:active {
/* transform: translate(2px ,2px); */
}

/* ************* BOUTTON VALIDATION PROFIL ****************** */

.custom-button {
position: relative;
display: inline-block;
padding: 10px 20px;
font-size: 18px;
color: #fff;
background-color: var(--midPink-color);
border: none;
border-radius: 50px;
cursor: pointer;
overflow: hidden;
z-index: 1;
}

.custom-button::before {
content: "";
position: absolute;
top: 0;
left: 20;
width: 120%;
height: 120%;
background-color: rgba(255, 255, 255, 0.3);
opacity: 0;
transition: all 0.5s ease-in-out;
transform: rotate(-45deg) translate(-50%, -50%);
z-index: -1;
}

.custom-button:hover::before {
opacity: 1;
transform: rotate(-45deg) translate(-50%, -50%) scale(1.2);
}

.custom-button span {
position: relative;
z-index: 2;
}

.custom-button:hover {
background-color: var(--darkPink-color);
}

/* ************* MEDIA QUERIES ****************** */

@media (max-width: 1400px) {

.img-dim {
    width: 230px;
    height: 230px;
}

.enfant-home h2 {
    font-size: 25px;
}

.navbar-logo {
    margin-top: 15px;
}

.navbar-menu li a{
    font-size: 1.2rem;
}
}

@media (max-width: 1295px) {

.buttonBack{
    width: 90px;
    height: 2.8em;
}

.logo-site {
    width: 50px;
    height: 50px;
}

.navbar-logo {
    font-size: 2rem;
    margin-top: 15px;
}

.navbar-container li a {
    font-size: 1.1rem;
    }

}

@media (max-width: 1145px) {

.buttonBack{
    width: 80px;
    height: 2.6em;
}

.container-mt-p {
    width: 70%;
}

.container-mt-p h1{
    font-size: 1.9rem;
}

.enfant-home h2 {
    font-size: 20px;
}

.enfant-home p {
    font-size: 0.9rem;
}

.img-dim {
    width: 210px;
    height: 210px;
}

.container1, .container2 {
    flex-direction: column;
}
.enfant {
    width: 100%;
    margin-bottom: 10px;
}

.navbar-menu,
.navbar-login {
    display: none;
    margin-left: 2vw;
    margin-top: 20vw;
}

.navbar-logo {
    margin-top: 15px;
}

.navbar-menu {
    position: absolute;
    left: -100%;
    width: 100%;
    transition: left 0.3s ease-in-out;
}

.navbar-menu.active {
    left: 0;
}

.navbar-container {
    flex-direction: column;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(5px); 
    -webkit-backdrop-filter: blur(5px); 
}

.centered-heading {
    font-size: 3rem;
}

.carousel-item h2 {
    margin-bottom: 35px;
    font-size: 1.3rem;
}

.carousel-item h3 {
    margin-bottom: 15px;
    font-size: 1.5rem;
}

.carousel-item p {
    margin-bottom: 35px;
    font-size: 1rem;
}

.navbar-toggle {
    display: flex;
}

.navbar-menu li a{  
    margin: 0 auto;
}

.navbar-toggle {
    position: absolute;
    right: 20px;
    top: 28px;
}

.navbar-register {
    display: none;
}

.text-container-bis {
    margin-top: 45px;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: transparent;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-top: 0;
    left: -50px;
}
}

@media (max-width: 970px) {

.enfant-home p {
    font-size: 0.8rem;
    font-weight: 500;
}

.edit-button {
    width: 38px;
    height: 38px;
}

.edit-svgIcon {
    width: 16px;
}

.edit-button:hover {
    width: 110px;
    }

.centered-heading {
    font-size: 2.5rem;
}

.img-dim {
    width: 190px;
    height: 190px;
    margin: 0 25px;
}

.enfant-home h2 {
    font-size: 18px;
}

.navbar-menu,
.navbar-login {
    display: none;
    margin-left: 2vw;
    margin-top: 20vw;
}

.carousel-item h3 {
    margin-bottom: 15px;
    font-size: 1.3rem;
}

.carousel-item h2 {
    margin-bottom: 35px;
    font-size: 1.2rem;
}

.carousel-item p {
    margin-bottom: 35px;
    font-size: 1rem;
}


.navbar-menu {
    position: absolute;
    left: -100%;
    width: 100%;
    transition: left 0.3s ease-in-out;
}

.navbar-menu.active {
    left: 0;
}

.navbar-container {
    flex-direction: column;
}

.navbar-toggle {
    display: flex;
}

.navbar-menu li a{  
    margin: 0 auto;
}

.navbar-toggle {
    position: absolute;
    right: 20px;
    top: 28px;
}

.navbar-register {
    display: none;
}

.navbar-logo {
    margin-top: 15px;
    margin-bottom: 20px;

}

.text-container-bis {
    margin-top: 45px;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: transparent;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-top: 0;
    left: -50px;
}
}

@media (min-width: 970px) {

.mobile-link {
    display: none;
}
} 

@media (max-width: 880px) {

.container-mt-p {
    width: 75%;
    margin: 2vw auto;
    text-align: center;
}

.margin-tb p{
    font-size: 1.3rem;
}
} 

@media (max-width: 760px) {

.container-parcours {
    flex-direction: column;
}

.image-parcours-container{
    margin-bottom: 20px;
    display: flex;
    flex-direction: center;
    justify-content: center;
}

.image-parcours-container img{
    min-width: 80%;
}

.edit-button {
    width: 35px;
    height: 35px;
}

.edit-svgIcon {
    width: 15px;
}

.edit-button:hover {
    width: 110px;
    }

.container-mt-p {
    width: 88%;
}

.margin-tb p{
    font-size: 1.2rem;
}

.carousel-item h3 {
    margin-bottom: 15px;
    font-size: 1.2rem;
}

.carousel-item h2 {
    margin-bottom: 35px;
    font-size: 1rem;
}

.carousel-item p {
    margin-bottom: 35px;
    font-size: 0.8rem;
}

.image-responsive {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    margin-bottom: 20px;
}

.carousel-item h3{
    font-size: 1.3rem;
}

.carousel-item h2{
    font-size: 1.1rem;
}

.carousel-item p{
    font-size: 0.9rem;
}

.centered-heading {
    font-size: 2.5rem;
}
}

@media (max-width: 600px) {

.edit-button {
    width: 32px;
    height: 32px;
}

.edit-svgIcon {
    width: 14px;
}

.edit-button:hover {
    width: 105px;
    }

.margin-tb p{
    font-size: 1.1rem;
}

.container-mt-p {
    width: 95%;
    margin: 2vw auto;
    text-align: center;
}

.container-mt-p h1{
    font-size: 1.8rem;
}


.footer-text {
    top: 75%;
}

.text-center {
    color: var(--secondary-color);
    font-size: 1.1rem;
    font-weight: 500;
    position: static;
    transform: none;
    margin: 0px auto 680px auto; 
    width: 100%;
    text-align: center;
}

.text-left {
    left: 2vh;
    top: 5vh;
    font-size: 0.8rem;
}

.text-right {
    right: 2vh;
    top: 5vh;
    font-size: 0.8rem;
}

.form-container {
    margin-top: 20vw;
}

.navbar-logo a, .navbar-logo img{
    margin-bottom: 20px;
}
/* * */

.bandeau-info-remerciements {
height: 360px;
width: 100%;
background-color: #e5d1da;
/* margin-top: 70px; */
overflow: hidden;
padding: 20px 0;
display: flex;
flex-direction: column;
align-items: center;

/* justify-content: center; */
}

.carousel {
    display: flex;
    justify-content: space-around;
    width: 96%;
    /* overflow: hidden; */
}

.carousel-item {
    display: none;
    width: 30%;
    text-align: center;
    font-family: 'Barlow', sans-serif;
    margin: 0 5px;
}

.carousel-item h3{
    margin-bottom: 10px;
    font-size: 1.2rem;
    font-weight: 600;
}

.carousel-item h2{
    margin-bottom: 35px;
    font-size: 1.1rem;
    font-weight: 400;
}

.carousel-item p{
    font-size: 0.9rem;
    color: var(--title-color);
    font-weight: 400;
    text-align: center;
}

.centered-heading {
    text-align: center;
    margin-top: 20px;
    font-family: 'Knewave', cursive;
    font-size: 2rem;
    margin-bottom: 50px;
    color: #90639c;
}
/* * */
}

@media (max-width: 500px) {

.buttonBack {
    left: -35px;
    width: 75px;
}

.edit-button {
    width: 30px;
    height: 30px;
}

.edit-svgIcon {
    width: 13px;
}

.edit-button:hover {
    width: 100px;
    }

.container-mt-p {
    width: 100%;
}

.container-mt-p h1{
    font-size: 1.7rem;
}

.margin-tb p{
    font-size: 1rem;
}

.navbar-logo {
    font-size: 2.2rem;
}

.carousel-item h3 {
    margin-bottom: 15px;
    font-size: 1.1rem;
}

.carousel-item h2 {
    margin-bottom: 35px;
    font-size: 0.9rem;
}

.carousel-item p {
    margin-bottom: 35px;
    font-size: 0.7rem;
}

.centered-heading {
    font-size: 1.8rem;
    }

.carousel-item p{
    font-size: 0.8rem;
}

.bandeau-info-remerciements {
    height: 350px;
}

}

@media (max-width: 400px) {

.edit-button {
    width: 28px;
    height: 28px;
}

.edit-svgIcon {
    width: 11px;
}

.edit-button:hover {
    width: 85px;
    }

.container-mt-p {
    width: 100%;
}

.margin-tb p{
    font-size: 1rem;
}
}

@media (max-width: 375px) {
.navbar-logo{
    font-size: 1.8rem;
}
}

/* *************** KEYFRAMES **************** */

@keyframes slideOut {
from {
    transform: translateX(0);
}
to {
    transform: translateX(100%);
}
}

@keyframes slideIn {
from {
    transform: translateX(-100%);
}
to {
    transform: translateX(0);
}
}

/* SPIN LOGO PROFIL */
@keyframes spin {
0% {
    transform: rotateY(0deg);
}
100% {
    transform: rotateY(1turn);
}
}

/* SLIDE IMAGE HOME */
@keyframes slide {
from { background-position: 0 0; }
to { background-position: -100% 0; }
}

.navbar-menu.animate-in {
animation: slideIn 0.5s forwards;
}

.navbar-menu.animate-out {
animation: slideOut 0.5s forwards;
}