{% extends 'base.html.twig' %}

{% block title %}Le cercle des mamans{% endblock %}

{% block body_class %}page-color-cercle{% endblock %}

{% block body %}

{% block bandeau %}
    <div class="bandeau-cercle"></div>
{% endblock %}

<div class="container1">
<div class="enfant pastel-red1" data-aos="fade-right" data-aos-duration="2000">
    <h2 class="enfant-cercle">Présentation du cours :</h2> 
    <p> <br>
        "Cette possibilité que la maternité ne soit pas un don inné, qu'elle se construise avec l'enfant dans le doute et la folie, dans le tâtonnement de la raison du plus aimant."<br><br>
        Comme l'adolescence qui est le passage de l'enfance à l'âge adulte, la matrescence est une période de vie. Elle s'accompagne de changements physiques et psychiques avec lesquels il faut faire "co-naissance". Cette naissance en tant que mère nécessite du temps et du soutien. La maternité n'est pas instinctive, pas toujours rose. 
    </p>

    <ul>
        <li><span class="span-cercle">-</span> Votre bébé a entre 0 et 6 mois ?</li>
        <li><span class="span-cercle">-</span> Vous vous sentez seule ? Désemparée ?</li>
        <li><span class="span-cercle">-</span> Vous aimeriez qu'on vous donne le mode d'emploi de cette petite boule de bébé ?</li>
        <li><span class="span-cercle">-</span> Vous avez besoin de vous sentir soutenue et écoutée ?</li>
        <li><span class="span-cercle">-</span> Trop de jugements, de conseils, d'injonctions, vous êtes perdue ?</li>
    </ul> <br> <br>
</div>
<div class="enfant" data-aos="fade-left" data-aos-duration="2000">
    <img class="image-responsive img-hover" src="/img/famille-assis-maison-lit.jpg" alt="Image d'une famille qui joue avec leurs 2 bébés dont un sur le tapis qui avance">
</div>
</div>
<div class="container2">
<div class="enfant pastel-red2" data-aos="fade-right" data-aos-duration="2000">
    <h2 class="enfant-cercle">Plusieurs sensations et émotions</h2>  
    <ul> <br>
        <li><span class="span-cercle">-</span> Des moments cocooning pour maman et bébé</li> <br>
        <li><span class="span-cercle">-</span> Des rires, des émotions et des larmes</li><br>
        <li><span class="span-cercle">-</span> Des échanges de mots et de maux</li><br>
        <li><span class="span-cercle">-</span> De l'écoute et de la bienveillance</li><br>
        <li><span class="span-cercle">-</span> Du partage, de l'entraide</li><br>
        <li><span class="span-cercle">-</span> Des activités ludiques et/ou créatives</li><br>
        <li><span class="span-cercle">-</span> La création d'un lien fort avec bébé</li><br><br>
    </ul>
</div>
<div class="enfant pastel-red3" data-aos="fade-left" data-aos-duration="2000">
    <h2 class="enfant-cercle">Le cercle, c'est quoi ?</h2>  
    <ul> <br>
        <li><span class="span-cercle">-</span> 4 rencontres de 2h pendant 1 mois</li> <br>
        <li><span class="span-cercle">-</span> Un groupe privé Whatsapp pour chaque cercle</li><br>
        <li><span class="span-cercle">-</span> 3 à 6 mamans et leur bébé de 0 à 6 mois</li><br>
        <li><span class="span-cercle">-</span> Un coin change avec tout le nécessaire</li><br>
        <li><span class="span-cercle">-</span> Des coussins, des plaids, des tapis...</li><br>
        <li><span class="span-cercle">-</span> Du thé/tisane et des gourmandises healthy</li><br>
        <li><span class="span-cercle">-</span> Plein de petites surprises</li><br><br>
    </ul>
</div>
</div>

<div id="calendar"></div>

{# script afficher le calendar #}
<script src="{{ asset('js/calendar.js') }}"></script>
{% endblock %}