{% extends 'base.html.twig' %}

{% block title %}Mentions-legales{% endblock %}

{% block body_class %}page-color-home{% endblock %}

{% block body %}

{% block bandeau %}
<div class="bandeau-info"></div>
{% endblock %}

{% block content %}

<div class="container-mt">
<p>
    Conformément à l'article 6 de la loi n° 2004-575 du 21 juin 2004 pour la confiance dans l'économie numérique, nous précisons aux utilisateurs du site www.douceurdelune.com l'identité de l'éditeur du site ainsi que celle de son hébergeur :
    <br><br><br>
    <span>Propriétaire du site : </span>KEZIC Guillaume<br><br>
    
    <span>Statut :</span><br><br>
    <span>Siret :</span><br><br>
    <span>Code APE :</span> <br><br>
    <span>Siège social :</span> <br><br>
    <span>Tél :</span> 06 06 06 06 06 <br><br>
    <span>Mail :</span> Guillaume.kezic@gmail.com <br><br>
    <span>Directeur de la publication :</span> Monsieur KEZIC Guillaume<br><br>
    <span>Hébergeur :</span> <br><br>
    <span>Siège social :</span> <br><br>
    <span>Téléphone :</span> <br><br>     
    <span>Propriété Intellectuelle : Douceur de lune</span> <br><br>
    Ce site relève de la législation française et internationale sur le droit d'auteur et la propriété intellectuelle. La reproduction de tout ou partie de ce site sur support électronique ou support papier (y compris les documents téléchargeables) est formellement interdite.<br><br>
    Par ailleurs, les images présentes sur ce site sont soumises à un copyright.<br><br>
    <span>Responsabilité de Douceur de lune :</span><br><br>
    Liens vers d'autres sites<br><br>
    le site contient des liens de redirection vers d'autres sites.<br><br>
    Douceur de lune ne peut être tenue pour responsable du contenu de ceux-ci.<br><br>
    L'utilisateur est informé que lors de ses visites sur le site, un cookie peut s'installer automatiquement sur son logiciel de navigation. Le cookie est un bloc de données qui ne permet pas de l'identifier mais qui sert à enregistrer des informations relatives à la navigation de celui-ci sur le site.<br><br>
    <span>Pour plus d'information, consulter la<a href="/politiqueDeConf" target="_blank">Politique de confidentialité</a></div> du site.</span>
</p>
</div>


{% endblock %}

{% endblock %}