{% extends 'base.html.twig' %}

{% block title %}Politique de confidentialité{% endblock %}

{% block body_class %}page-color-home{% endblock %}

{% block body %}

{% block bandeau %}
    <div class="bandeau-info"></div>
{% endblock %}

<div class="container-mt">
    <p>
         Client : Tout professionnel ou personne physique capable au sens des articles 1123 et suivants du Code civil, ou personne morale, qui visite le site objet des présentes conditions générales.<br>
    Éditeur : <span>DOUCEUR DE LUNE</span>, propriétaire du site www.douceurdelune.com<br>
    Contenu : Ensemble des éléments constituants l'information présente sur le site, notamment textes - images - vidéos.<br>
    Informations clients : Ci-après dénommé « Information (s) » qui correspondent à l'ensemble des données personnelles susceptibles d'être détenues par l'Éditeur pour la gestion de votre compte, de la gestion de la relation client et à des fins d'analyse et de statistique.<br>
    Utilisateur : Internaute utilisant le site susnommé et qui, de fait, génère des données potentiellement exploitables par l'Editeur, sous réserve d'un accord préalable ou consentement logique.<br>
    Informations personnelles : « Les informations qui permettent, sous quelque forme que ce soit, directement ou non, l'identification des personnes physiques auxquelles elles s'appliquent » (article 4 de la loi n° 78-17 du 6 janvier 1978, modifié le 20 juin 2018).<br>
    Les termes « données personnelles », « personne concernée », « sous-traitant » et « données sensibles » ont le sens défini par le Règlement Général sur la Protection des Données (RGPD : n° 2016-679)<br>
    <br><br>
    <span> 1. Conditions générales d'utilisation du site et des services proposés</span>
    <br><br>
    Le site constitue une œuvre de l'esprit protégée par les dispositions du Code de la Propriété Intellectuelle et des Réglementations Internationales applicables. Le Client ne peut en aucune manière réutiliser, céder ou exploiter pour son propre compte tout ou partie des éléments ou travaux du site.<br>
    L'utilisation du site implique l'acceptation pleine et entière des conditions générales d'utilisation ci-après décrites. Ces conditions d'utilisation sont susceptibles d'être modifiées ou complétées à tout moment ; les Utilisateurs sont donc invités à les consulter de manière régulière.<br>
    Le site est en principe accessible à tout moment aux Utilisateurs. Une interruption pour raison de maintenance technique peut être toutefois décidée par l'Éditeur, qui s'efforcera alors de communiquer préalablement aux Utilisateurs les dates et heures de l'intervention. De la même façon, les mentions légales peuvent être modifiées à tout moment : elles s'imposent néanmoins à l'Utilisateur qui est invité à s'y référer le plus souvent possible afin d'en prendre connaissance.<br>
    <br><br>
    <span> 2. Description des services fournis</span>
    <br><br>
    Le site a pour objet de fournir une information concernant l'ensemble des activités de la société. L'Éditeur s'efforce de fournir des informations aussi précises que possible. Toutefois, il ne pourra être tenu responsable des oublis, des inexactitudes et des carences dans la mise à jour, qu'elles soient de son fait ou du fait des tiers partenaires qui lui fournissent ces informations.<br>
    Toutes les informations indiquées sur le site sont données à titre indicatif et sont susceptibles d'évoluer. Par ailleurs, les renseignements ne sont pas exhaustifs. Ils sont donnés sous réserve de modifications ayant été apportées depuis leur mise en ligne.<br>
    <br><br>
    <span>3. Limitations contractuelles sur les données techniques</span>
    <br><br>
    Le site utilise la technologie JavaScript.
    Le site ne pourra être tenu responsable de dommages matériels liés à l'utilisation du site. De plus, l'Utilisateur s'engage à accéder au site en utilisant un matériel récent, ne contenant pas de virus et avec un navigateur de dernière génération mis à jour. Le site   est hébergé chez un prestataire sur le territoire de l'Union Européenne conformément aux dispositions du Règlement Général sur la Protection des Données (RGPD : n° 2016-679).<br>
    L'objectif est d'apporter une prestation qui assure le meilleur taux d'accessibilité. L'hébergeur assure la continuité de son service 24 heures sur 24, tous les jours de l'année. Il se réserve néanmoins la possibilité d'interrompre le service d'hébergement pour les durées les plus courtes possibles notamment à des fins de maintenance, d'amélioration de ses infrastructures, de défaillance de ses infrastructures ou si les Prestations et Services génèrent un trafic réputé anormal.<br>
    L'Éditeur et l'hébergeur ne pourront être tenus responsables en cas de dysfonctionnement du réseau Internet, des lignes téléphoniques ou du matériel informatique et de téléphonie lié notamment à l'encombrement du réseau empêchant l'accès au serveur.<br>
    <br><br>
    <span>4. Propriété intellectuelle et contrefaçons</span>
    <br><br>
    <span>DOUCEUR DE LUNE</span> est propriétaire des droits de propriété intellectuelle et détient les droits d'usage sur tous les éléments accessibles sur le site Internet, notamment les textes, images, graphismes, logos, vidéos, icônes et sons. Toute reproduction, représentation, modification, publication, adaptation de tout ou partie des éléments du site, quel que soit le moyen ou le procédé utilisé, est interdite, sauf autorisation écrite accordée préalablement par <span>DOUCEUR DE LUNE</span>.<br>
    Toute exploitation non autorisée du site ou de l'un des éléments qu'il contient sera considérée comme constitutive d'une contrefaçon et poursuivie conformément aux dispositions des articles L.335-2 et suivants du Code de Propriété Intellectuelle.<br>
    <br><br>
    <span>5. Limitations de responsabilité</span>
    <br><br>
    En tant qu'Éditeur du site www.douceurdelune.com, <span>DOUCEUR DE LUNE</span> est responsable de la qualité et de la véracité du Contenu qu'il publie.
    L'Éditeur ne pourra être tenu responsable des dommages directs et indirects causés au matériel de l'Utilisateur, lors de l'accès au site Internet, et résultant soit de l'utilisation d'un matériel ne répondant pas aux spécifications indiquées au point 3, soit de l'apparition d'un bug ou d'une incompatibilité.<br>
    L'Éditeur ne pourra également être tenu responsable des dommages indirects (par exemple : perte de marché ou d'une chance) consécutifs à l'utilisation du site. Des espaces interactifs (possibilité de poser des questions dans l'espace contact) sont à la disposition des Utilisateurs. L'Éditeur se réserve le droit de supprimer, sans mise en demeure préalable, tout contenu déposé dans cet espace qui contreviendrait à la législation applicable en France, en particulier aux dispositions relatives à la protection des données. Le cas échéant, l'Éditeur se réserve également la possibilité de mettre en cause la responsabilité civile et/ou pénale de l'Utilisateur, notamment en cas de message à caractère raciste, injurieux, diffamant ou pornographique, quel que soit le support utilisé (texte, photographie…).<br>
    <br><br>
    <span>6. Gestion des données personnelles</span>
    <br><br>
    Le Client et l'Utilisateur sont informés des réglementations concernant la communication marketing, la loi du 21 juin 2014 pour la confiance dans l'Economie Numérique, la Loi Informatique et Liberté du 6 août 2004 ainsi que le Règlement Général sur la Protection des Données (RGPD : n° 2016-679).<br>
    <br><br>
    <span>6.1 Responsable de la collecte des données personnelles</span>
    <br><br>
    Pour les Données Personnelles collectées dans le cadre de la validation de formulaire et de la navigation sur le site, le responsable du traitement des Données Personnelles est : <span>DOUCEUR DE LUNE</span>.
    Le représentant légal du site www.douceurdelune.com  est <span>DOUCEUR DE LUNE</span> , en qualité de Gérant  .
    En tant que responsable du traitement des données qu'il collecte, l'Éditeur s'engage à respecter le cadre des dispositions légales en vigueur. Il lui appartient notamment d'établir les finalités de ses traitements de données, de fournir à ses prospects et clients, à partir de la collecte de leurs consentements, une information complète sur le traitement de leurs données personnelles et de maintenir un registre des traitements conforme à la réalité. Chaque fois que l'Éditeur traite des Données Personnelles via le site www.douceurdelune.com , il prend toutes les mesures raisonnables pour s'assurer de l'exactitude et de la pertinence des Données Personnelles au regard des finalités pour lesquelles il les traite. <br>
    <br><br>
    <span>6.2 Type, traitement et finalité des données collectées</span>
    <br><br>
    <span>DOUCEUR DE LUNE</span> est susceptible de traiter tout ou partie des données suivantes dont certaines sont indispensables au bon fonctionnement des services en ligne proposés sur le site   :
    <br>
        Données de connexion, de navigation et d'utilisation du site
        Traitement : permettre et/ou améliorer la navigation sur le site, établir des statistiques d'audience, mesurer le retour sur investissement
        de campagnes marketing d'acquisition.
        <br>
        Données identitaires et/ou à caractère privé (civilité, prénom et nom, âge, poids, description d'une situation ou problématique personnelle/professionnelle)
        <br>
        Traitement : répondre à une question, fournir un devis, prendre un rendez-vous en ligne, être rappelé(e) en urgence etc.
        <br>
        Données techniques sur le matériel informatique utilisé pour la navigation, l'adresse IP, l'identifiant et mot de passe (hashé) de connexion à un espace sécurisé
        <br>
        Traitement :sécuriser les communications avec ou depuis le site, prévenir et lutter contre la fraude informatique (spamming, hacking…).
        <br>
        Données de contact telles que numéro de téléphone fixe et/ou mobile, adresse e-mail
        <br>
        mener des campagnes marketing de fidélisation par mail ou sms.
        <br>
        Données géographiques de type adresse postale
        <br>
        Traitement : Afficher une position, définir une zone d'intervention ou calculer un itinéraire entre deux localisations.
        <br>
        Données vocales (enregistrements audios)
        <br>
        Traitement :sauvegarder via un répondeur automatique un message en cas d'absence ou indisponibilité d'une ligne ou standard téléphonique, afin d'être rappelé par la personne concernée.
        <br>
        Données financières en rapport avec des devis, commandes et ventes réalisées via le site
        <br>
        Traitement : gérer et assurer la traçabilité des prestations et services commandés par les Utilisateurs.
        <br>
    Toutes les données sont conservées pendant une période maximale de 12 mois après la collecte ou le terme de la relation contractuelle entre l'Utilisateur et l'Éditeur.
    <br>
    <span>DOUCEUR DE LUNE</span> ne commercialise pas les Données Personnelles qui sont uniquement utilisées par nécessité, au regard des traitements décrits ci-dessus et occasionnellement, à des fins d'analyse statistique globale.
    <br><br>
    <span>6.3 Droit d'accès, de rectification et d'opposition</span>
    <br><br>
    Conformément à la réglementation européenne en vigueur, les Utilisateurs du site disposent des droits suivants :
    <br>
        Droit d'accès (article 15 RGPD) et de rectification (article 16 RGPD), de mise à jour, de complétude des données des Utilisateurs, droit de verrouillage ou d'effacement des données des Utilisateurs à caractère personnel (article 17 du RGPD), lorsqu'elles sont inexactes, incomplètes, équivoques, périmées, ou dont la collecte, l'utilisation, la communication ou la conservation est interdite
        <br>
        Droit de retirer à tout moment un consentement (article 13-2c RGPD)
        <br>
        Droit à la limitation du traitement des données des Utilisateurs (article 18 RGPD)
        <br>
        Droit d'opposition au traitement des données des Utilisateurs (article 21 RGPD)
        <br>
        Droit à la portabilité des données que les Utilisateurs auront fournies, lorsque ces données font l'objet de traitements automatisés fondés sur leur consentement ou sur un contrat (article 20 RGPD)
        <br>
        Droit de définir le sort des données des Utilisateurs après leur mort et de choisir à qui l'Éditeur devra communiquer (ou non) ses données à un tiers qu'il aura préalablement désigné
        <br>
    Dès que l'Éditeur a connaissance du décès d'un Utilisateur et à défaut d'instruction de sa part, il s'engage à détruire ses données, sauf si leur conservation s'avère nécessaire à des fins probatoires ou pour répondre à une obligation légale.
    Si l'Utilisateur souhaite savoir comment l'Éditeur utilise ses Données Personnelles, demander à les rectifier ou s'opposer à leur traitement, il peut contacter par écrit le Délégué à la Protection des Données (DPO), à l'adresse suivante :
    <span>DOUCEUR DE LUNE</span>  - !! adresse ici !!
    Dans son courrier, l'Utilisateur devra indiquer les Données Personnelles qu'il souhaite corriger, mettre à jour ou supprimer, en s'identifiant précisément avec une copie d'une pièce d'identité (carte d'identité ou passeport).
    Les demandes de suppression de Données Personnelles seront soumises aux obligations qui sont imposées par la loi, notamment en matière de conservation ou d'archivage des documents. Enfin, les Utilisateurs peuvent déposer une réclamation auprès des autorités de contrôle, et notamment de la CNIL (https://www.cnil.fr/fr/plaintes).
    <br><br>
    <span>6.4 Non-communication des données personnelles</span>
    <br><br>
    L'Éditeur s'interdit de traiter, héberger ou transférer les Informations collectées sur ses Clients vers un pays situé en dehors de l'Union européenne ou reconnu comme « non adéquat » par la Commission européenne sans en informer préalablement le client. Pour autant, il reste libre du choix de ses sous-traitants techniques et commerciaux à la condition qu'ils présentent les garanties suffisantes au regard des exigences du Règlement Général sur la Protection des Données (RGPD : n° 2016-679).
    L'Éditeur s'engage à prendre toutes les précautions nécessaires afin de préserver la sécurité des Informations et notamment qu'elles ne soient pas communiquées à des personnes non autorisées. Cependant, si un incident impactant l'intégrité ou la confidentialité des Informations du Client est portée à sa connaissance, l'Éditeur devra informer le Client dans les meilleurs délais et lui communiquer les mesures de corrections prises. Par ailleurs, le site ne collecte aucune « données sensibles ».
    Les Données Personnelles de l'Utilisateur peuvent être traitées par des filiales de l'Éditeur et des sous-traitants (prestataires de services), exclusivement afin de réaliser les finalités de la présente politique.
    Dans la limite de leurs attributions respectives et pour les finalités rappelées ci-dessus, les principales personnes susceptibles d'avoir accès aux données des Utilisateurs du site www.douceurdelune.com  sont principalement les personnes rattachées aux services direction, administratif et commercial.
    <br><br>
    <span>6.5  Notification d'incident</span>
    <br><br>
    Quels que soient les efforts fournis, aucune méthode de transmission sur Internet et aucune méthode de stockage électronique n'est complètement sûre. L'Éditeur ne peut pas, en conséquence, garantir une sécurité absolue. S'il prend connaissance d'une brèche de la sécurité, il avertira les Utilisateurs concernés afin qu'ils puissent prendre les mesures appropriées. Les procédures de notification d'incident tiennent compte des obligations légales, qu'elles se situent au niveau national ou européen. L'Éditeur s'engage à informer pleinement les clients de toutes les questions relevant de la sécurité de leurs données et à leur fournir toutes les informations nécessaires pour les aider à respecter leurs propres obligations réglementaires en matière de reporting.
    Aucune information personnelle de l'Utilisateur n'est publiée à son insu, échangée, transférée, cédée ou vendue sur un support quelconque. Seule l'hypothèse du rachat du site   et de ses droits permettrait la transmission desdites informations à l'éventuel acquéreur qui serait, à son tour, tenu de la même obligation de conservation et de modification des données vis à vis de l'Utilisateur du site.
    <br><br>
    <span>7. Sécurité</span>
    <br><br>
    Pour assurer la sécurité et la confidentialité des Données Personnelles, l'Éditeur et l'hébergeur du site utilisent des réseaux sécurisés par des dispositifs standards tels que les pare-feux, la pseudonymisation, l'encryption, sans oublier la protection par mot de passe.
    Lors du traitement des Données Personnelles, <span>DOUCEUR DE LUNE</span> prend toutes les mesures raisonnables visant à les protéger contre toute perte, utilisation détournée, accès non autorisé, divulgation, altération ou destruction.
    <br><br>
    <span>8. Liens hypertextes « cookies » et balises (“tags”) Internet</span>
    <br><br>
    Le site est susceptible de contenir un certain nombre de liens hypertextes vers d'autres sites. Cependant, l'Éditeur n'a pas la possibilité de vérifier le contenu des sites ainsi visités et n'assumera, en conséquence, aucune responsabilité de ce fait.
    <br><br>
    <span>8.1. « Cookies »</span>
    <br><br>
    Un « Cookie » est un petit fichier d'information envoyé sur le navigateur de l'Utilisateur et enregistré au sein du terminal de l'Utilisateur (ordinateur, tablette, téléphone portable).
    Ce fichier comprend des informations telles que le nom de domaine de l'Utilisateur, le fournisseur d'accès Internet de l'Utilisateur, le système d'exploitation de l'Utilisateur, ainsi que la date et l'heure d'accès. Les Cookies ne risquent en aucun cas d'endommager le terminal de l'Utilisateur.
    L'Éditeur est susceptible de traiter les informations de l'Utilisateur concernant sa visite sur le site, telles que les pages consultées, les recherches effectuées. Ces informations permettent d'améliorer le contenu du site, de la navigation de l'Utilisateur.
    Les Cookies facilitant la navigation et/ou la fourniture des services proposés par le site, l'Utilisateur peut configurer son navigateur pour qu'il lui permette de décider s'il souhaite ou non les accepter de manière à ce que des Cookies soient enregistrés dans le terminal ou, au contraire, qu'ils soient rejetés, soit systématiquement, soit selon leur émetteur. L'Utilisateur peut également configurer son logiciel de navigation de manière à ce que l'acceptation ou le refus des Cookies lui soient proposés ponctuellement, avant qu'un Cookie soit susceptible d'être enregistré dans son terminal. L'Éditeur informe l'Utilisateur que, dans ce cas, il se peut que les fonctionnalités de son logiciel de navigation ne soient pas toutes disponibles.
    Si l'Utilisateur refuse l'enregistrement de Cookies dans son terminal ou son navigateur, ou si l'Utilisateur supprime ceux qui y sont enregistrés, l'Utilisateur est informé que sa navigation et son expérience sur le site peuvent être limitées. Cela pourrait également être le cas lorsque le site ou l'un de ses prestataires ne peut pas reconnaître, à des fins de compatibilité technique, le type de navigateur utilisé par le terminal, les paramètres de langue et d'affichage ou le pays depuis lequel le terminal semble connecté à Internet.
    Le cas échéant, l'Éditeur décline toute responsabilité pour les conséquences liées au fonctionnement dégradé du site et des services éventuellement proposés, résultant soit du refus de Cookies par l'Utilisateur soit de l'impossibilité pour le site d'enregistrer ou de consulter les Cookies nécessaires à leur fonctionnement du fait du choix de l'Utilisateur. Pour la gestion des Cookies et des choix de l'Utilisateur, la configuration de chaque navigateur est différente. Elle est décrite dans le menu d'aide du navigateur, qui permettra de savoir de quelle manière l'Utilisateur peut modifier ses souhaits en matière de Cookies.
    À tout moment, l'Utilisateur peut faire le choix d'exprimer et de modifier ses souhaits en matière de Cookies. L'Éditeur pourra, en outre, faire appel aux services de prestataires externes pour l'aider à recueillir et à traiter les informations décrites dans cette section.
    Enfin, en cliquant sur les icônes dédiées aux réseaux sociaux tels que Facebook, Twitter, LinkedIn et Google Plus figurant sur le site et si l'Utilisateur accepte le dépôt de Cookies en poursuivant sa navigation sur le site ou l'application mobile de ces mêmes réseaux, alors ces derniers peuvent également déposer des Cookies sur son terminal.
    Ces types de Cookies ne sont déposés qu'avec un consentement préalable, en continuant notamment la navigation sur le site ou application mobile. À tout moment, il peut annuler son consentement pour empêcher le dépôt de Cookies à postériori.
    Le site www.douceurdelune.com utilise Google Analytics, un service d'analyse de sites Internet fourni par Google Inc. (« Google »).
    Google Analytics utilise des Cookies pour aider le site et son Éditeur à analyser son utilisation et son audience en fonction des terminaux utilisés.
    Les données générées par les Cookies concernant l'utilisation du site (y compris l'adresse IP des visiteurs) seront transmises et stockées par Google sur des serveurs situés aux États-Unis. Google utilisera cette information dans le but d'évaluer l'utilisation faite du site, de compiler des rapports sur son activité à destination de l'Éditeur et de fournir d'autres services relatifs notamment à l'utilisation d'Internet.
    Google est susceptible de communiquer ces données à des tiers en cas d'obligation légale ou lorsque ces tiers traitent ces données pour le compte de Google, y compris notamment l'Éditeur du site. Google ne recoupera pas les adresses IP collectées avec toute autre donnée détenue par Google.
    Il est possible de désactiver l'utilisation de Cookies en sélectionnant les paramètres appropriés du navigateur utilisé. Cependant, une telle désactivation pourrait empêcher l'utilisation de certaines fonctionnalités du site.
    En navigant sur le site, l'Utilisateur consent expressément au traitement de ses données nominatives par Google dans les conditions et pour les finalités décrites ci-dessus.
    <br><br>
    Comment désactiver/supprimer les Cookies ?
    <br><br>    
        <a href="https://support.google.com/accounts/answer/61416?hl=fr" target="blank">Cliquez pour voir les instructions sur Chrome</a>
        <br>
        <a href="https://support.mozilla.org/fr/kb/activer-desactiver-cookies" target="blank">Cliquez pour voir les instructions sur Firefox </a>
        <br>
        <a href="https://support.microsoft.com/fr-fr/help/17442/windows-internet-explorer-delete-manage-cookies" target="blank">Cliquez pour voir les instructions sur Internet Explorer / Edge </a>
        <br>
        <a href="https://support.apple.com/kb/PH21411?locale=fr_FR" target="blank">Cliquez pour voir les instructions sur Safari (Mac)</a>
        <br>
    Autres navigateurs : se reporter à l'aide en ligne du navigateur en question.
    <br><br>
    <span>8.2. Balises (“tags”) internet</span>
    <br><br>
    Le site  peut exploiter occasionnellement des balises Internet (également appelées « tags », ou balises d'action, GIF à un pixel, GIF transparents, GIF invisibles et GIF un à un) et les déployer par l'intermédiaire d'un partenaire spécialiste d'analyses Web susceptible de se trouver (et donc de stocker les informations correspondantes, y compris l'adresse IP de l'Utilisateur) dans un pays étranger.
    Ces balises sont placées à la fois dans les publicités en ligne permettant aux internautes d'accéder au site et sur les différentes pages de celui-ci.
    Cette technologie permet d'évaluer les réponses des internautes face au site et l'efficacité de ses actions (par exemple, le nombre de fois où une page est ouverte et les informations consultées), ainsi que l'utilisation de ce site par l'Utilisateur.
    <br>
    Le prestataire externe pourra éventuellement recueillir des informations sur les Utilisateurs du site et d'autres sites externes grâce à ces balises, constituer des rapports sur l'activité du site, et fournir d'autres services relatifs à l'utilisation de celui-ci et d'Internet en général.
    <br><br>
    <span>9. Droit applicable et juridiction</span>
    <br><br>
    Tout litige en relation avec l'utilisation du site est soumis au droit Français . En dehors des cas où la loi ne le permet pas, il est fait attribution exclusive de juridiction aux tribunaux compétents.
    </p>

</div>

{% endblock %}