{% extends 'base.html.twig' %}

{% block title %}Soins et Rituel Rebozo{% endblock %}

{% block body_class %}page-color-rebozo{% endblock %}

{% block body %}

{% block bandeau %}
<div class="bandeau-rituel"></div>
{% endblock %}

<div class="container1">
<div class="enfant pastel-orange1" data-aos="fade-right" data-aos-duration="2000">
    <h2 class="enfant-rebozo">Soins et Rituel Rebozo</h2> 
    <p> <br>
        "Le début d'une nouvelle vie est aussi la naissance d'une mère. Soyons présent quand elle se défait, patient quand elle s'effondre.
        Elle ne se brise pas, elle éclot et ouvre ses ailes." <br><br>  Le Rebozo est un tissu originaire du Mexique.
        A mi chemin entre une écharpe et un châle, il accompagne les femmes dans toutes les étapes de la vie, de la naissance à la mort.
        Les pateras (sage-femmes mexicaines) transmettent leur savoir, leurs gestes et la magie du Rebozo depuis des générations. J'ai eu la chance qu'un jour les secrets de ce "simple" bout de tissu me soient transmis dans une bienveillance, un respect et un amour absolus.
        Le Rebozo est né des Femmes pour les Femmes (et les Hommes !) et se transmet de Femme à Femme.
        Il accompagne grâce à ses nombreux usages et rituels, tous les passages de vie : la naissance, la puberté, un deuil, l'accouchement, un déménagement, un changement de vie, un mal-être non identifié, la mort.
        La fermeture d'une porte, l'ouverture d'une autre...  <br><br>
    </p>
</div>
<div class="enfant" data-aos="fade-left" data-aos-duration="2000">
    <img class="image-responsive" src="/img/adbf3536-b6f7-48d4-8595-acb277e5d9eb.webp" alt="">
</div>
</div>
<div class="container2">
<div class="enfant pastel-orange2" data-aos="fade-right" data-aos-duration="2000">
    <h2 class="enfant-rebozo">Quand ? Pourquoi ? Comment ?</h2>  
    <ul><span class="enfant-rebozo">Quand ?</span><br> <br>
        <li><span class="span-rebozo">Pendant la grossesse :</span> le Rebozo peut être utilisé pour aider à soulager les maux et douleurs de la grossesse, en soutenant le ventre et en aidant à aligner le corps.</li> <br>
        <li><span class="span-rebozo">Pendant l'accouchement :</span> le Rebozo peut être utilisé pour aider à la progression du travail, en aidant à positionner le bébé et en soulageant les douleurs du travail.</li><br>
        <li><span class="span-rebozo">Après l'accouchement :</span> le rituel Rebozo est souvent utilisé pour aider à "fermer" le corps de la mère après l'accouchement, en aidant à resserrer et réaligner les muscles et les ligaments qui se sont étirés pendant la grossesse.</li><br>
    </ul>
    <ul><span class="enfant-rebozo">Pourquoi ?</span><br> <br>
        <li><span class="span-rebozo">Soutien physique :</span> Il peut aider à soulager la douleur et l'inconfort pendant la grossesse et l'accouchement, et à aider le corps à récupérer après l'accouchement.</li> <br>
        <li><span class="span-rebozo">Soutien émotionnel :</span> le rituel offre un espace pour que la mère se concentre sur elle-même et ses propres besoins, ce qui peut aider à réduire le stress et l'anxiété.</li> <br>
        <li><span class="span-rebozo">Rite de passage :</span> le rituel Rebozo peut également être vu comme un rite de passage, marquant la transition de la femme vers la maternité.</li> <br>
    </ul>
    <ul><span class="enfant-rebozo">Comment ?</span><br> <br>
        <li>Le rituel Rebozo implique généralement l'utilisation d'un châle ou d'une écharpe longue et solide, appelée rebozo, qui est utilisée de différentes manières pour soutenir le corps. Pendant la grossesse et l'accouchement, le rebozo peut être utilisé pour soutenir le ventre, aider à aligner le corps et aider à positionner le bébé. Après l'accouchement, un rituel appelé "fermeture" est souvent effectué, où le rebozo est utilisé pour envelopper et resserrer le corps de la mère.</li> <br>
    </ul>
</div>
<div class="enfant pastel-orange3" data-aos="fade-left" data-aos-duration="2000">
    <h2 class="enfant-rebozo">Les bienfaits du rituel Rebozo :</h2>  
    <ul> <br>
        <li><span class="span-rebozo">Soutien pendant la grossesse et l'accouchement :</span> L'utilisation du rebozo pendant la grossesse et l'accouchement peut aider à soulager certaines des douleurs et des inconforts courants. Il peut être utilisé pour soutenir le ventre pendant la grossesse, pour aider à réaligner le bassin et le dos, ou pour aider à la progression du travail pendant l'accouchement.</li> <br>
        <li><span class="span-rebozo">Fermeture après l'accouchement :</span> Dans la tradition mexicaine, le rituel rebozo est souvent utilisé pour aider à "fermer" le corps de la mère après l'accouchement, en aidant à réaligner et à resserrer les muscles et les ligaments qui se sont détendus et étirés pendant la grossesse.</li><br>
        <li><span class="span-rebozo">Soutien émotionnel : </span> Le rituel rebozo offre un espace pour la nouvelle mère de se concentrer sur elle-même et ses besoins émotionnels. Cela peut aider à créer un sentiment de paix et de sérénité qui peut aider à soutenir la santé émotionnelle pendant la période post-partum.</li><br>
        <li><span class="span-rebozo">Rééquilibrage énergétique :</span> De nombreuses cultures croient en la nécessité de rééquilibrer l'énergie du corps après des événements importants tels que la naissance. Le rituel rebozo peut aider à restaurer et à rééquilibrer l'énergie corporelle après l'accouchement.</li><br>
        <li><span class="span-rebozo">Relaxation et réduction du stress :</span>  Les techniques de massage utilisées lors du rituel rebozo peuvent aider à la relaxation profonde et à la réduction du stress. Cela peut être bénéfique à la fois pendant la grossesse et lors de la période post-partum, qui peut être une période de stress et d'anxiété pour de nombreuses nouvelles mères.</li><br>
        <li><span class="span-rebozo">Favorise l'attachement et le lien affectif : </span> Le rituel peut aider à favoriser un sentiment d'attachement et de lien entre la mère et l'enfant. Il offre également une occasion pour le partenaire ou d'autres membres de la famille de participer activement à la grossesse et au soin de la nouvelle mère.</li><br>
    </ul>
</div>
</div>

<div id="calendar"></div>

{# script afficher le calendar #}
<script src="{{ asset('js/calendar.js') }}"></script>
{% endblock %}