.style-react {
    color: red !important;
    font-family: "Barlow", sans-serif;
    font-size: 3rem;
    font-weight: 400;
    letter-spacing: -0.054em;
    width: 700px;
    margin: "0 auto";
    padding-left: 25px;

}