{% extends 'base.html.twig' %}

{% block title %}Paiement réussi{% endblock %}

{% block body %}

{% block bandeau %}
<div class="bandeau-info"></div>
{% endblock %}

<h1>Paiement réussi</h1>
<p>Votre paiement a été effectué avec succès !</p>
{% endblock %}
